#navigation, #content, .section {
	padding:0;
	margin:0;
	list-style:none;
}
#content {
	background-color: white;
    float: left;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
#navigation {
	position:absolute;
	float:left;
	width:100%;
	background-color:#5B739C;
}
.section {
	width:600px;
	position:relative;
}
.section .sub {
	position:relative;
	float:left;
	padding:9px 21px 42px 45px;
	width:567px;
	height:352px;
}
.section .sub p {
	width:550px;
	margin:16px 0;
	font-size:85%;
	line-height:1.4em;
}
.section .next, .section .prev {
	font-size:18px;
	position:absolute;
	bottom:15px;
	letter-spacing:-2px;
}




