* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
/* Slider Style */

.pxs_container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
.pxs_container .pxs_bg {
  background: transparent url(../images/bg.png) repeat top left;
}
.pxs_container .pxs_bg div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 7584px;
  /*1264px window width times number of images*/
  height: 100%;
  background-repeat: repeat;
  background-position: top left;
  background-color: transparent;
}
.pxs_container .pxs_bg div.pxs_bg1 {
  background-image: url(../images/bg1.png);
  /*left negative 1/8 of ww*/

}
.pxs_container .pxs_bg div.pxs_bg2 {
  background-image: url(../images/bg2.png);
  /*left negative 1/4 of ww*/

}
.pxs_container .pxs_bg div.pxs_bg3 {
  background-image: url(../images/bg3.png);
  /*left negative 1/2 of ww*/

}
.pxs_container .pxs_slider_wrapper {
  display: none;
}
.pxs_container .pxs_slider_wrapper ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.pxs_container .pxs_slider_wrapper ul.pxs_slider {
  position: absolute;
  left: 0px;
  top: 320px;
  height: 100%;
}
.pxs_container .pxs_slider_wrapper ul.pxs_slider li {
  height: 100%;
  float: left;
  position: relative;
}
.pxs_container .pxs_slider_wrapper ul.pxs_slider li img {
  display: block;
  margin: 35px auto 0px auto;
  -moz-box-shadow: 0px 0px 7px #222222;
  -webkit-box-shadow: 0px 0px 7px #222222;
  box-shadow: 0px 0px 7px #222222;
  border: 8px solid transparent;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.pxs_container .pxs_slider_wrapper ul.pxs_thumbnails {
  height: 35px;
  position: absolute;
  top: 230px;
  left: 50%;
}
.pxs_container .pxs_slider_wrapper ul.pxs_thumbnails li {
  position: absolute;
  display: block;
}
.pxs_container .pxs_slider_wrapper ul.pxs_thumbnails li img {
  border: 5px solid white;
  -moz-box-shadow: 1px 1px 7px #555555;
  -webkit-box-shadow: 1px 1px 7px #555555;
  box-shadow: 1px 1px 7px #555555;
  cursor: pointer;
  display: block;
  opacity: 0.7;
}
.pxs_container .pxs_slider_wrapper ul.pxs_thumbnails li.selected img {
  opacity: 1.0;
}
.pxs_loading {
  color: white;
  font-size: 20px;
  padding: 15px 15px 15px 50px;
  position: absolute;
  background: #333333 url(../images/ajax-loader.gif) no-repeat 10px 50%;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  opacity: 0.7;
  width: 180px;
  top: 150px;
  left: 50%;
  margin-left: -90px;
}
