body {
  width: 12000px;
  top: 0px;
  left: 0px;
  bottom: 0px;
}
.links {
  height: 60px;
  width: 100%;
  text-align: center;
  position: fixed;
}
.links .main-nav {
  margin: 0;
  padding: 0;
  width: 100%;
}
.links .main-nav li {
  padding: 0;
  display: inline-block;
  margin: 10px 20px 0 0;
  list-style: none;
  text-align: center;
}
.links .main-nav li a {
  display: block;
  padding: 20px 0;
}
.section {
  margin: 0px;
  bottom: 0px;
  width: 4000px;
  float: left;
  height: 100%;
  text-shadow: 1px 1px 2px #f0f0f0;
}
.section h2 {
  margin: 50px 0px 30px 50px;
}
.section p {
  margin: 20px 0px 0px 50px;
  width: 600px;
}
.section.black {
  color: white;
  background: black url(../images/black.jpg) no-repeat top right;
}
.section.white {
  color: black;
  background: white url(../images/white.jpg) no-repeat top right;
}
.section .container {
  position: absolute;
  top: 100px;
  width: 1170px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 1200px) {
  .carousel .container {
    width: 942px;
  }
  .carousel .container .span12 {
    width: 940px;
  }
}
@media (max-width: 1200px) {
  .carousel .container {
    width: 942px;
  }
  .carousel .container .span12 {
    width: 940px;
  }
}
@media (max-width: 979px) {
  .carousel .container {
    width: 728px;
    margin-bottom: 0;
    width: 100%;
  }
  .carousel .container .span12 {
    width: auto;
    padding: 0 20px;
  }
}
@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
  body .carousel .container {
    width: 100%;
  }
  body .carousel .container .span12 {
    width: auto;
    padding: 0 10px;
  }
}
