html {
    overflow-y: scroll; /* always force a scrollbar in non-IE */
    }
body {
    background: #e3e5e5;
    overflow-x: hidden;
    height: 9000px;
    line-height: 1.5;
    color: #000;
    font-size: 14px;
    font-family: Arial,sans-serif;
}


/* Common shared styles
*****************************************************************/

hr {
    margin: 0;
    border: none;
    border-top: 1px solid #3b3b3b;
    border-bottom: 1px solid #3b3b3b;
    height: 3px;
}

/* Page structure
*****************************************************************/

#wrapper {
    position: relative;
}

/* Nav
*****************************************************************/

nav#primary {
    z-index: 5;
    position: fixed;
    top: 240px;
    width: 100%;
    text-align: center;
    font-family: 'samantha_upright_proregular';
}
nav#primary li {
    float: left;
    height: 20px;
    list-style: none;;
}
nav#primary a {
    /*display: block;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    background: transparent url('../img/nav-dot.png') 4px 4px no-repeat;*/
}
nav#primary a:hover, nav#primary a.active {
    color:red;
}

nav.next-prev {
    margin: 20px 0 0 0;
    }
    a.prev,
    a.next {
        display: block;
        width: 15px;
        height: 11px;
        text-indent: -9999px;
        }
    a.prev {
        margin: 0 auto 5px auto;
        background: transparent url('../img/scroll-arrow-up.png') 0 0 no-repeat;
        }
        a.prev:hover {
            background: transparent url('../img/scroll-arrow-up.png') 0 -11px no-repeat;
            }
    a.next {
        margin: 5px auto 0 auto;
        background: transparent url('../img/scroll-arrow-down.png') -1px 0 no-repeat;
        }
        a.next:hover {
            background: transparent url('../img/scroll-arrow-down.png') -1px -11px no-repeat;
            }

/* Parallax
*****************************************************************/

/* content */
#content {
    z-index: 4;
    position: fixed;
    padding: 0 10px;
    line-height: 1.7;
}
#content article {
    top: 330px;
    border: 1px solid red;
}
#bridegroom, #wedding, #evening, #rsvp, #photos, #wishes {
    position: absolute;
}
#bridegroom { left: 0px;}
#wedding { left: 15%;}
#evening { left: 20%;}
#rsvp { left: 30%;}
#photos { left: 40%;}
#wishes { left: 50%;}

/* foreground (ballons/landscape) */
#parallax-bg3 {
    z-index: 3;
    position: fixed;
    top: 0;
    margin-left: -470px;
    height: 100%;
    width: 12000px;
    background: url('../../parallaxSlider/images/bg3.png') 0 0 repeat;
}
#parallax-bg3 img {
    position: absolute;
        top: 0px;
}
    /* balloon */
    #bg3-1 { left: 1200px;}
    #bg3-2 { left: 2400px;}
    #bg3-3 { left: 4000px;}
    #bg3-4 { left: 5000px;}

/* midground (clouds) */
#parallax-bg2 {
    z-index: 2;
    position: fixed;
    top: 0;    width: 1200px;
    margin-left: -600px; /* move left by half element's width */
    height: 100%;
    width: 12000px;
    background: url('../../parallaxSlider/images/bg2.png') 0 0 repeat;
}

/* background (clouds) */
#parallax-bg1 {
    z-index: 1;
    position: fixed;
    top: 0;
    margin-left: -600px;
    height: 100%;
    width: 12000px;
    background: url('../../parallaxSlider/images/bg1.png') 0 0 repeat;
}

article header {
    background: transparent;
    position: relative;
}
